:root {
  --bg:#0f172a;
  --card:#111827;
  --primary:#38bdf8;
  --secondary:#22c55e;
  --text:#e5e7eb;
  --muted:#94a3b8;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

header {
  text-align: center;
  padding: 40px;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: var(--card);
  padding: 25px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,.4);
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-6px);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--secondary);
}

/* Chatbot */
#chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#chatbot img {
  width: 70px;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}

#chatWindow {
  display: none;
  background: var(--card);
  width: 260px;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.msg {
  margin-bottom: 10px;
}

.bot {
  color: var(--primary);
}

@keyframes float {
  0% { transform: translateY(0);}
  50% { transform: translateY(-10px);}
  100% { transform: translateY(0);}
}
